body{
    font-family: 'Poppins', sans-serif;

    
}
.hero{
    background-image: url(images/bg-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    margin-top: 0px;

}
.extra_padding{
    padding-top: 12%;
}
.extra_margin{
    margin-top: 10%;
    margin-bottom: 10%;
}
.text-big{
    font-size: 50px;
}
.text-big-big{
    font-size: 70px;
}
.theme-color{
    color:#148F77 ;
}
.theme-color-bg{
    background-color:#148F77 ;
}

.topic-hover:hover{
    background-color: #e5f8e5;
}

a{
    text-decoration:none;
    font-weight: 800;
}

.btn-sub{
    color:#187e69 ;
    font-size: 20px;

}
.btn-sub:hover{
    font-weight: bold;
    color:#016b56 ;
    width: 75% !important;
    box-shadow: 5px 5px 15px rgb(185, 185, 185);
}

.text-graay{
    color: rgb(209, 209, 209) !important;
}